@import "../styles/theme.scss";

.tab-bar-root {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .tab-bar-container {
    width: 100%;
    background: #ffffff;
    border-top: 1rpx solid #E5E5E5;
    padding-bottom: env(safe-area-inset-bottom);

    .tab-bar-inner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 110rpx;

      .tab-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;

        .tab-icon {
          width: 52rpx;
          height: 52rpx;
          margin-bottom: 4rpx;
        }

        .tab-text {
          font-size: 22rpx;
          color: #333333;
          font-weight: 400;
        }

        &.active {
          .tab-text {
            color: $primary-color;
            font-weight: 600;
          }
        }
      }
    }
  }
}
