@import "./styles/theme.scss";

page {
  background-color: $bg-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-bottom: calc(180rpx + env(safe-area-inset-bottom)); // 为悬浮 TabBar 预留空间
}

.container {
  padding: 0 $spacing-base;
}
